<article class="demo">
  <header>
    <h2>Ember Sortable</h2>
  </header>

  <main>
    <section class="vertical-demo flex-box">
      
      {{#sortable-group owner="1" tagName="ol" model=model.one onSort="sort" onAdd="add" onRemove="remove" as |group|}}
        {{#each model.one as |item|}}
          {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
            {{item}}
            <span class="handle">
              <span>&vArr;</span>
            </span>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
      
	  {{#sortable-group owner="2" tagName="ol" model=model.two onSort="sort" onAdd="add" onRemove="remove" as |group|}}
        {{#each model.two as |item|}}
          {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
            {{item}}
            <span class="handle">
              <span>&vArr;</span>
            </span>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </section>

  </main>

  <footer>
    <p>
      <a href="https://github.com/jgwhite/ember-sortable">View on GitHub</a>
    </p>
  </footer>
</article>
